CREATE TABLE IF NOT EXISTS cotizaciones (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  nombre_paciente TEXT, 
  fecha TIMESTAMPTZ DEFAULT NOW(),
  total NUMERIC,
  estudios JSONB,
  creado_por UUID REFERENCES auth.users(id)
);

-- Habilitar RLS (Opcional pero recomendado)
ALTER TABLE cotizaciones ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Permitir acceso autenticado" ON cotizaciones FOR ALL USING (auth.role() = 'authenticated');
